%h1 Feeds
%table.table.table-hover{:style => "Font-size: 10px"}
  %thead
    %tr
      %th Name
      %th Summary
      %th Url
      %th Published at
      %th guid

  - @feed_entries.each do |feed|
    %body
      %tr
        %th= feed.name
        %th= feed.summary
        %th= truncate(feed.url)
        %th= feed.published_at
        %th= truncate(feed.guid)
